h1{
    font-family: cursive;
    font-size: 100px;
    background-color: blanchedalmond;

}

  .container {
     background-image: url("Bridge.jpg");
     width:100%;
     height:200px;

  }
  
  .box{
    width:60%;
    background-color:blanchedalmond;
    margin: 20px;
    border: 5px black;
    padding: 10px;
    display:block;
}
.btn{
   background-color: red;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 500px;
    right: 0;
    left: 3;
  }
  .box2 {
    width: 35%;
    padding-left: 15px;
    margin-left: 15px;
    border: sandybrown;
    font-style: italic;
    background-color:lightsalmon;
    position: absolute;
    top: 550px;
    right: 0;
    left: 3;
  }
  
  .box3 {
    display:inline-block;
    width: 25%;
    padding-left: 15px;
    margin-left: 15px;
    border: 5px blue;
    font-style: italic;
    background-color:blanchedalmond;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-vimeo {
    background: #45bbff;
    color: white;
  }
  .fa-flickr {
    background: #f40083;
    color: white;
  }
  .fa-rss {
    background: #ff6600;
    color: white;
  }
  